[Unit]
Description=GitHub Syncronization Service
After=syslog.target network.target 

[Service]
Type=simple
Restart=always
User=app
Group=app
ExecStart=python3 /home/app/git-sync.py
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target